body {
  background: url(../images/background-image.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header {
  color: #f00;
  text-align: center;
}

div p {
  color: #f00;
  text-align: center;
}

